.card {
  display: flex;
  flex-direction: column;
  margin: 0 0 0.5rem;
}

.tagList {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.postHeading {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem;
}

.postTitle {
  margin: 0;
}

.time {
  font-size: 0.75rem;
}
